{% extends "layout.html" %}

{% block help_css %}
    <style>
        label{
            min-width: 50px!important;
        }
        .alert-dismissable{
                display: none;
        }
    </style>
{% endblock %}


{% block title %} Product-Create {% endblock %}


{% block main %}


<div class="auth">
    <div class="text-center my-5">
        <h3>Login Now</h3>

        <!-- flash messages -->
        <div style="width: 30%; display: block; margin:0 auto;">
    {% set message = get_flashed_messages() %}
          {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message | replace("[", "") | replace("]","") | replace('"',"") }}
            </div>
          {% endif %}
</div>
        <!-- Validation Errors -->
        <div style="width: 30%;display: block;margin:0 auto;">
            {% if res %}
                {% if res['status_code'] == 401 %}
                    <div class="alert alert-danger" role="alert">
                        {{ res['error'] }}
                    </div>
                {% elif res['status_code'] == 422 %}
                    <div class="alert alert-danger" role="alert">
                        {{ res['error'] }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-register">
        <form class="form " method="POST" action="{{action}}">
            {{ form.csrf_token }}

             {%for key, value in form.items() %}
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        {% if value.name == 'email' %}
                            <div class="input-group-text"><i style="font-size: 20px!important;" class="fas fa-envelope"></i></div>
                        {% else %}
                            <div class="input-group-text"><i style="font-size: 20px!important;" class="fas fa-key"></i></div>
                        {%- endif -%}
                    </div>
                    {{ value }}


                  </div>

             {% endfor %}


            <input class="btn btn-primary btn-block btn-lg fw-400" type="submit" value="{{submit}}">
        </form>
    </div>
</div>

{% endblock %}

