{% extends 'admin/index.html' %}

{% block help_css %}
    <style>
        label{
            min-width: 50px!important;
        }
        .alert-dismissable{

        }
    </style>
{% endblock %}

{% block title %}
  Product-Create
{% endblock %}

{% block body %}


<div style="width: 30%">

    {% set message = get_flashed_messages() %}
          {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message | replace("[", "") | replace("]","") | replace('"',"") }}
            </div>
          {% endif %}


</div>


<form method="POST" action="{{action}}">
    {{ form.csrf_token }}
     {%for key, value in form.items() %}
        <p>{{value.label}}: {{value}}</p>
     {% endfor %}
    <input type="submit" value="{{submit}}">
</form>

{% endblock %}

