        {% if authorize.create('articless') %}
            <button>Delete Article</button>
        {% endif %}

<h2 style="color: red">{{ current_user.id }}</h2>

    {% if  product.owner_id == current_user.id%}
          <button>Add Article</button>
    {% endif %}

<!--{{product.owner_id}}-->


<!-- display article feed -->
{% for pro in alls %}

    <!-- show article if user has read access -->
    {% if authorize.read(article) %}
        <h1>{{ pro.name }}</h1>

        <!-- add edit button -->
        {% if authorize.update('article') %}
            <button>Update Article</button>
        {% endif %}

        <!-- add delete button for administrators -->
        {% if authorize.in_group('admins') %}
            <button>Delete Article</button>
        {% endif %}

    {% endif %}
{% endfor %}
