{% extends "layout.html" %}

{% block title %} Home {% endblock %}


{% block main %}
    <div class="d-flex m-5">
          <div class="profile-header-main m-3">
              <div class="avatar pt-3">
                  <img id="user_avatar" src="">
              </div>
              <div class="profile-name pt-2">
                  <div class="name text-center">
                      <h1 id="user_fullname"></h1>
                  </div>
              </div>
          </div>
          <div class="profile-header-info m-3">
              <dl class="profile-info-row">
                  <dt>Age:</dt>
                  <dd id="age"></dd>
              </dl>
              <dl class="profile-info-row">
                  <dt>Location:</dt>
                  <dd id="location">df</dd>
              </dl>
              <dl class="profile-info-row">
                  <dt>Phone Number:</dt>
                  <dd id="phone_number">df</dd>
              </dl>
              <ul class="text-center mt-4 list-inline portfolio-social-media">
                  <li class="list-inline-item">
                      <a id="facebook" target="_blank" rel="nofollow" href="#">
                          <i class="fa fa-facebook"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a id="instagram" target="_blank" rel="nofollow" href="#">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a id="skype" target="_blank" rel="nofollow" href="#">
                          <i class="fab fa-skype"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a id="whatsapp" target="_blank" rel="nofollow" href="#">
                          <i class="fab fa-whatsapp"></i>
                      </a>
                  </li>
              </ul>
          </div>
    </div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div  class="modal fade in" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div class="text-center mt-2" style="position: relative;">
                    <div>
                        <label class="avatar-input" for="profile_picture" data-toggle="tooltip" data-placement="top" title="" data-original-title="Recommended image size is 300 (w) x 300 (h) pixels and less than 250KB.">
                            <span class="avatar avatar-offline avatar-xl">
                                <img src="/static/img/icon-no-image.png" class="avatar-img rounded-circle profile-image-preview">
                                <span class="avatar-input-icon rounded-circle">
                                    <i class="mdi mdi-upload mdi-24px"></i>
                                </span>
                            </span>
                            <input type="file" name="file" class="avatar-file-picker" id="profile_picture" accept=".jpg, .png" onclick="upload_avatar()">
                        </label>
                    </div>
                    <button class="btn btn-outline-secondary btn-upload-img" onclick="$('#profile_picture').click();">Upload Photo</button>
                    <h3 class="searchBy-name" id="card_user_name">Ehsan Nima</h3>
          </div>

                <form id="edit_profile_form">
                    <input type="hidden" name="_token" value="buj2RSLEo6mpdAGlojFcwOJsXzGlUYYThbHZx2WG">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label> {{ edit_form.first_name.label }} <span class="text-info"> * </span></label>
                                {{ edit_form.first_name }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label> {{ edit_form.last_name.label }} <span class="text-info"> * </span></label>
                                {{ edit_form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label> {{ edit_form.age.label }}<span class="text-info"> * </span></label>
                        {{ edit_form.age }}
                    </div>


                    <div class="form-group">
                        <label>Country <span class="text-info"> * </span></label>
                        <select name="country" id="country" class="form-control disabled">
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BR">Brazil</option>
                                <option value="BN">Brunei</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo (Brazzaville)</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="EE">Estonia</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FJ">Fiji Islands</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="PY">Frech Polynesia</option>
                                <option value="GF">French Guiana</option>
                                <option value="TF">French Southern and Antarctic Lands</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HN">Honduras</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="ID">Iran</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KR">Korea</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LS">Lesotho</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MK">Macedonia,Former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="NA">Namibia</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn Islands</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and South Sandwich Islands</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SH">St.Helena</option>
                                <option value="KN">St.Kitts and Nevis</option>
                                <option value="LC">St.Lucia</option>
                                <option value="PM">St.Pierre and Miquelon</option>
                                <option value="VC">St.Vincent and the Grenadines</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vatican City</option>
                                <option value="VN">Vietnam</option>
                                <option value="VI">Virgin Islands</option>
                                <option value="VG">Virgin Islands,British</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="ZM">Zambia</option>
                                <option value="HK">Hong Kong</option>
                                <option value="BQ">Bonaire', Sint Eustatius &amp; Saba</option>
                                <option value="CW">Curacao</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="PF">French Polynesia</option>
                                <option value="MF">Saint Martin (French part)</option>
                                <option value="SX">Saint Martin (Dutch part)</option>
                                <option value="XK">Kosovo</option>
                                <option value="ME">Montenegro</option>
                                <option value="TW">Taiwan</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label> {{ edit_form.city.label }}<span class="text-info"> * </span></label>
                        {{ edit_form.city }}
                    </div>

                    <div class="form-group">
                        <label>{{ edit_form.phone_number.label }} <span class="text-info"> * </span></label>
                        {{ edit_form.phone_number }}
                    </div>

                    <div class="row social-media-links">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{ edit_form.facebook.label }}</label>
                                {{ edit_form.facebook }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{ edit_form.instagram.label }}</label>
                                {{ edit_form.instagram }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label> {{ edit_form.skype.label }}</label>
                                {{ edit_form.skype }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label> {{ edit_form.whatsapp.label }} </label>
                                {{ edit_form.whatsapp }}
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button onclick="" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"> Submit </button>
                    </div>

                </form>

      </div>


    </div>
  </div>
</div>




{% if q == 'first_login' %}
    <h3>{{ q }} </h3>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#exampleModalCenter').modal('show');
    });
    </script>
{% endif %}

{% endblock %}

{% block tail_js %}
    <script src="{{ url_for('static', filename='js/ajax/rest.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        let form = '#edit_profile_form';
        let endpoint = 'edit_profile';
        edit(form, endpoint);
    </script>

    <script type="text/javascript">
        get('home_data');
    </script>
{% endblock %}