body{
    background-color: #f4f7fa;
    font-size: 14px;
}

nav{
    background-color: #fff;
}

/* Sign UP */
.auth{
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 900px;
    margin: 0!important;
    overflow: hidden;
}
div.form-register {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


/* profile-header-main */
.profile-header-main{
    background-color: #ffffff;
    min-width: 300px;
}
.avatar img{
    display: block;
    margin: 0 auto;
    width:   150px;
    height:  150px;
    border-radius: 50%;
}

.profile-name .name h1{
    font-size: 30px;
}

.profile-header-info{
    background-color: #ffffff;
}

.profile-info-row{
    display: flex;
    margin: 10px;
}

.profile-info-row dt{
    min-width: 130px;
    font-weight: 600!important;
}

.portfolio-social-media i{
    font-size: 20px!important;
    padding: 5px;
}